/*
 * Documentation specific stylesheet
 */
/*.content-wrapper p {
  padding: 0 10px;
  font-size: 16px;
  position: relative;
  z-index: 30;
}
.bring-up {
  position: relative;
  z-index: 30;
}
.nth-2-center > tbody > tr > td:last-of-type {
  text-align: center!important;
}
.content {
  font-size: 16px;
  z-index: 500;
}

#components > h3 {
  font-size: 25px;
  color: #000;
}

#components > h4 {
  font-size: 20px;
  color: #000;
}
ul {
  margin-bottom: 20px;
}
.page-header {
  border-bottom: 1px solid #ddd;        
  margin: 20px 0 10px 0!important;
  position: relative;
  z-index: 1;
  font-size: 30px;
}
.page-header span,
.page-header a {
  z-index: 5;
  display: block;
  background-color: #ecf0f5;
  color: #000;
}
.page-header span::before,
.page-header a::before {
  content: '#';
  font-size: 25px;
  margin-right: 10px;
  color: #3c8dbc;
}
.page-header:before,
#components > h3:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  z-index: -10;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}
.eg{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: #d2d6de;
  padding: 5px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 1px solid #d2d6dc;
  border-right: 1px solid #d2d6dc;
}
.eg + * {
  margin-top: 30px;
}
.content {
  padding: 10px 25px;
}
.hierarchy {
  background: #333;
  color: #fff;
}
.plugins-list li {
  width: 50%;
  float: left;
}
pre {
  border: none;
}

.sidebar {
  margin-top: 0;
  padding-top: 0!important;
}
.box .main-header {
  z-index: 1000;
  position: relative;
}
.treeview .nav li a:hover,
.treeview .nav li a:active {
  background: transparent;
}
p {
  padding: 0!important;
}*/
/* Hemisu Light */
/* Original theme - http://noahfrederick.com/vim-color-scheme-hemisu/ */
/*pre.prettyprint {
  background: white;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #dedede!important;
  padding: 10px;
  max-height: 300px;
  width: auto;
  overflow: auto!important;
}
pre.prettyprint > code {
  width: auto;
  overflow: auto!important;
}

.pln {
  color: #111111;
}

@media screen {
  .str {
    color: #739200;
  }

  .kwd {
    color: #739200;
  }

  .com {
    color: #999999;
  }

  .typ {
    color: #ff0055;
  }

  .lit {
    color: #538192;
  }

  .pun {
    color: #111111;
  }

  .opn {
    color: #111111;
  }

  .clo {
    color: #111111;
  }

  .tag {
    color: #111111;
  }

  .atn {
    color: #739200;
  }

  .atv {
    color: #ff0055;
  }

  .dec {
    color: #111111;
  }

  .var {
    color: #111111;
  }

  .fun {
    color: #538192;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}*/
/* Specify class=linenums on a pre to get line numbering */
/*ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}*/

/* IE indents via margin-left */
/*li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
}
*/
/* Alternate shading for lines */
/*li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
}*/

/*  valiadation color  */
.validation-color{
  color:#dd4b39;
}
/*-------------------------------Purchase- #00bfff ------------------------------------*/

.purchase-item{
  border:1px black solid;
}

@media (max-width: 800px){
  .auto-product{
    margin-top: -640px;
    margin-left: 0px;
  }
}
.auto-product{
  border-radius:4px;
  background:  #00bfff ;
  border: 1px solid #00a3cc;
  box-shadow: 0px 0px 10px #00a3cc;
  list-style: none;
  margin-top: -238px;
  margin-left: 75px;
  width:100%;
  overflow: hidden;
  height: 150;
    max-height: 150px;
    overflow-y: auto;
}
.auto-product li{
  padding:3px;
  margin-left: -40px;
  font-weight: bold;
  
}
.hover{
  background:  #00a3cc ;
  cursor: pointer;
}
.h-font{
  font-size: 22px;
}
.h-font2{
  font-size: 28px;
}


/*  scroll bar  */
.inner-scroll{
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-right: 20px;
}
.outer-scroll{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.validation-color{
  color:red;
}

/*   My Well */
.well1{
  border: 1px solid #e3e3e3; 
  /*border: 1px solid rgba(91,129,151,0.5); */
  padding: 19px;
  background-color: #f5f5f5;
  /*background-color: rgba(91,129,151,0.2);*/
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  margin-bottom: 20px;min-height: 20px;
}
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-yellow {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #EED718
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #EED718, #F3DC18); 
  background-image:    -moz-linear-gradient(top, #EED718, #F3DC18); 
  background-image:     -ms-linear-gradient(top, #EED718, #F3DC18); 
  background-image:      -o-linear-gradient(top, #EED718, #F3DC18); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-red {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #EE3818
  background-image: -webkit-gradient(linear, left top, left bottom, from(#EE3818), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #EE3818, #F06026); 
  background-image:    -moz-linear-gradient(top, #EE3818, #F06026); 
  background-image:     -ms-linear-gradient(top, #EE3818, #F06026); 
  background-image:      -o-linear-gradient(top, #EE3818, #F06026); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-yellow:before, .ribbon-yellow:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-yellow:before {
  left: 0;
}
.ribbon-yellow:after {
  right: 0;
}
.ribbon-red:before, .ribbon-red:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-red:before {
  left: 0;
}
.ribbon-red:after {
  right: 0;
}
.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

 
#ribbon1 {
  padding: 0 0 10px 0;
  position: absolute;
  right: 10em;  
  top: -0.25em;
  width: 40px;
}
#ribbon1 {
  padding: 0 0 10px 0;
  position: absolute;
  right: 10em;  
  top: -0.25em;
  width: 40px;
}
#ribbon2 {
  padding: 0 0 10px 0;
  position: absolute;
  right: 13.5em;  
  top: -0.25em;
  width: 40px;
}
#ribbon3 {
  padding: 0 0 10px 0;
  position: absolute;
  right: 17em;  
  top: -0.25em;
  width: 40px;
}
#ribbon4 {
  padding: 0 0 10px 0;
  position: absolute;
  right: 20.5em;  
  top: -0.25em;
  width: 40px;
}
#ribbon5 {
  padding: 0 0 10px 0;
  position: absolute;
  right: 24em;  
  top: -0.25em;
  width: 40px;
}
#ribbon1 div,#ribbon2 div,#ribbon3 div,#ribbon4 div,#ribbon5 div{
  background: #bb3a34;
  background: linear-gradient(#e74841 0%, #bb3a34 100%);
  color: #fff;
  padding: 0.5em 0;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
#ribbon1 div:after,#ribbon2 div:after,#ribbon3 div:after,#ribbon4 div:after,#ribbon5 div:after {
  border-left: 20px solid #bb3a34;
  border-right: 20px solid #bb3a34;
  border-bottom: 10px solid transparent;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}
.ribbon-simple
{
  position: relative;
  width: 50%;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 30px 6px 30px;
  margin: 30px 10px 10px -30px;
  color: #555;
  background-color: #999;
  text-shadow: 0px 1px 2px #bbb;
  -webkit-box-shadow: 0px 0px 0px #888;
  -moz-box-shadow: 0px 0px 0px #888;
  box-shadow: 0px 0px 0px #888;
}
.ribbon-simple:after
{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 100%;
  border-width: 3px 5px;
  border-style: solid;
  border-color: #666 #666 transparent transparent;
}
.active-color{
  background-color: #3c8dbc;
}